<p>
  Szanowna Użytkowniczko, Szanowny Użytkowniku!
</p>
<p>
  Zmieniamy się dla Ciebie!
</p>
<p>
  Z dniem 20 stycznia 2022 r. serwis <strong>warsawlease.pl</strong> zmienia nazwę na <strong>mapawynajmu.pl</strong> i od tego dnia dostępny będzie pod adresem <strong><a href='https://mapowynajmu.pl'>https://mapowynajmu.pl</a></strong>.
</p>
<p>
  Jeżeli nie wyrażasz zgody na powyższą zmianę prosimy o usunięcie konta w serwisie lub wyrażenie takiej chęci odpowiadając na ten email.
</p>
<p>
  Dziękujemy, że jesteś z nami!
</p>
<p>
  Z wyrazami szacunku,
</p>
<p>
  Zespół warsawlease.pl (wkrótce mapawynajmu.pl)
</p>
