<div>
  <%= @your_announcement_has_been_added %>
</div>
<div style='margin: 36px 0; margin-bottom: 36px!important;'>
  <div style='margin-bottom: 12px;'>
    <img src=<%= @listing_picture %> style='display: block; width: 280px; margin: 0 auto;'/>
  </div>
  <div style='font-size: 12px; text-align: center;'>
    <a href=<%= @listing_url %>>
      <%= @listing_url %>
    </a>
  </div>
</div>