<div>
  <%= @verification_code_message  %>
</div>
<div style="text-align: center; margin: 32px auto; color: #D35400; font-size: 32px; border: 2px solid #D35400; width: 128px; height: 64px; line-height: 64px; border-radius: 4px;">
  <%= @verification_code %>
</div>