<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Title:
    </p>
    <p>
      <strong><%= @title %></strong>
    </p>
    <p>
      Email Address
    </p>
    <p>
      <strong><%= @email_addres %></strong>
    </p>
    <p>
      Message
    </p>
    <p>
      <strong><%= @message %></strong>
    </p>
  </body>
</html>