<p>
  Szanowna Użytkowniczko, Szanowny Użytkowniku!
</p>
<p>
  Serwis <strong>warsawlease.pl</strong> zmienił nazwę na <strong>mapawynajmu.pl</strong> i dostępny jest obecnie pod adresem <strong><a href='https://mapawynajmu.pl'>https://mapawynajmu.pl</a></strong>.
</p>
<p>
  Dziękujemy, że jesteś z nami!
</p>
<p>
  Z wyrazami szacunku!
</p>
<p>
  Zespół mapawynajmu.pl
</p>
<a href='https://mapawynajmu.pl'>
  <img
    src='https://warsawlease.s3.eu-central-1.amazonaws.com/assets/logo/final-logo-png.png'
    alt='mapawynajmu.pl'
  />
</a>
