<style>
  #logo {
    float: left;
    font-family: 'Nova Slim', 'Helvetica Neue';
    color: #1B2631;
  }

  #logo .pin {
    float: left;
    margin-top: 19px;
    margin-right: 7px;
    border-radius: 50% 50% 50% 0;
    border: 3px solid #1B2631;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
  }

  #logo .pin::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    background-color: #2874A6;
  }

  #logo .text {
    float: left;
    height: 60px;
    line-height: 66px;
    font-size: 20px;
  }

  #logo .text span {
    margin: 0;
    padding: 0;
  }

  #logo .text span:nth-child(2) {
    color: #2874A6;
  }
</style>
<a href='https://mapowynajmu.pl'>
  <div id='logo'>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap" rel="stylesheet">
    <div class='pin'></div>
    <div class='text'>
      <span>mapa</span><span>wynajmu</span><span>.pl</span>
    </div>
    <div class='float-clear'></div>
  </div>
</a>